.nav-container {
  height: 275px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
}

.banner {
  height: 50px;
  width: 100vW;
  background-color: #C49D7E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50px;
  
}

.logo {
  margin-left: 50px;
  height: 225px;
  width: 225px;
}

/* .nav-container nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
} */

.nav-links {
  /* background-color: paleturquoise; */
  width: 100vw;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: black;
  /* height: 25px; */
  margin-left: 10px;
  margin-right: 10px;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 50px;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-icon {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.svg {
  color: black
}

.mobile-menu {
  display: none;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
}

.mobile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}







@media (max-width: 1150px) {

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-icons {
  display: none;
}

.hamburger{
  height: 2px;
  width: 20px;
  background-color: #214e21;
  margin: 3px;
}

.logo {
    margin-left: 50px;
    height: 150px;
    width: 150px;
}




}



@media (max-width: 400px) {


.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.nav-icons {
  display: none;
}

.hamburger{
  height: 2px;
  width: 20px;
  background-color: #214e21;
  margin: 3px;
}

}